<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright 2002 Dirk Vranckaert
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="eu.vranckaert.worktime"
      android:versionCode="224"
      android:versionName="1.1.13 - UNSTABLE">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>

    <application android:label="WorkTime" android:icon="@drawable/logo"
                 android:name=".guice.Application" android:backupAgent=".utils.context.BackupAgent">
        <!-- Backup service configuration -->
        <meta-data android:name="com.google.android.backup.api_key"
                   android:value="AEdPqrEAAAAIKBOIRHAdZEXSXtzuiIu5cs97amRuguwj7UtnfA" />

        <!-- Widget configuration -->
        <receiver android:name=".providers.WorkTimeWidgetProvider_2x2_Project" android:label="@string/lbl_widget_2x2_name">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
					   android:resource="@xml/appwidget_2x2_project"/>
		</receiver>

        <receiver android:name=".providers.WorkTimeWidgetProvider_2x1_ProjectTask" android:label="@string/lbl_widget_2x1_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/appwidget_2x1_project_task"/>
        </receiver>

        <activity android:name=".activities.HomeActivity"
                  android:label="@string/app_name"
                  android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Project specific activities -->
        <activity android:name=".activities.projects.ManageProjectsActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.projects.AddEditProjectActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.projects.ProjectDetailsActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.projects.CopyProjectActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.projects.SelectProjectActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <!-- Task specific activities -->
        <activity android:name=".activities.tasks.AddEditTaskActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.tasks.SelectTaskActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <!-- TimeRegistration specific activities -->
        <activity android:name=".activities.timeregistrations.TimeRegistrationListActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationDetailActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationActionActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationPunchInActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationPunchOutActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationDeleteActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationRestartActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationSetCommentActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationEditProjectAndTaskActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationEditStartTimeActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationEditEndTimeActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationSplitActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationAddActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <!-- Reporting -->
        <activity android:name=".activities.reporting.ReportingCriteriaActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.reporting.ReportingResultActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="landscape"/>
        <activity android:name=".activities.reporting.ReportingExportActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <!-- About specific activities -->
        <activity android:name=".activities.about.AboutActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <!-- Preferences specific activities -->
        <activity android:name=".activities.preferences.PreferencesActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.BackupPreferencesActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.DateTimePreferencesActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.NotificationsPreferencesActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.ProjectsAndTasksPreferencesActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.TimeRegistrationsPreferencesActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.AccountSyncPreferencesActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.ResetApplicationPreferencesActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.ResetPreferencesActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>

        <!-- Account activities -->
        <activity android:name=".activities.account.AccountProfileActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.account.AccountLoginActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.account.AccountRegisterActivity"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>

        <!-- Widget activities -->
        <!-- Configuration -->
        <activity android:name=".activities.widget.Configuration2x1Activity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <!-- Notification Bar activities -->
        <activity android:name=".activities.notifcationbar.StatusBarPunchOutHandleActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>

        <!-- Backup and Restore activities -->
        <activity android:name=".activities.backup.BackupRestoreInfoActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="eu.vranckaert.worktime.BACKUP_DOC"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.backup.BackupToSDActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="eu.vranckaert.worktime.SD_BACKUP_DATA"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.backup.RestoreFromSDActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="eu.vranckaert.worktime.SD_RESTORE_DATA"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.backup.BackupSendFromSDActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="eu.vranckaert.worktime.SD_BACKUP_SEND"/>
            </intent-filter>
        </activity>

        <!-- DirectoryPicker activity -->
        <activity android:name="eu.vranckaert.worktime.utils.file.DirectoryPicker"
                  android:theme="@style/AppTheme"
                  android:configChanges="orientation|keyboardHidden"/>
    </application>
</manifest>
