<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<!-- SiteMesh -->
	<filter>
		<filter-name>sitemesh</filter-name>
		<filter-class>com.opensymphony.sitemesh.webapp.SiteMeshFilter</filter-class>
	</filter>
 
	<filter-mapping>
		<filter-name>sitemesh</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>

   	<listener>
		<listener-class>eu.vranckaert.worktime.guice.GuiceConfig</listener-class>
	</listener>

	<!-- GUICE -->
	<filter>
		<filter-name>guiceFilter</filter-name>
		<filter-class>com.google.inject.servlet.GuiceFilter</filter-class>
	</filter>

	<filter-mapping>
		<filter-name>guiceFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
	
	<!-- All REST-services should go over HTTPS -->
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/rest/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
	
	<!-- All user-specific pages should go over HTTPS -->
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/resetPassword/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
	<security-constraint>
        <web-resource-collection>
            <url-pattern>/user/*</url-pattern>
        </web-resource-collection>
        <user-data-constraint>
            <transport-guarantee>CONFIDENTIAL</transport-guarantee>
        </user-data-constraint>
    </security-constraint>
    
    <!-- Make sure the cron-urls are secured and not publicly accessible -->
    <security-constraint>
        <web-resource-collection>
            <url-pattern>/cron/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
    
    <error-page>
    	<error-code>404</error-code>
    	<location>/WEB-INF/pages/error/404.html</location>
	</error-page>
	
	<!-- GAE Specific (auto-gen) stuff -->
	<servlet>
	 	<servlet-name>SystemServiceServlet</servlet-name>
	 	<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
	 	<init-param>
	  		<param-name>services</param-name>
	  		<param-value/>
	 	</init-param>
	</servlet>
	<servlet-mapping>
	 	<servlet-name>SystemServiceServlet</servlet-name>
	 	<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
	
	<!-- GOBO (https://code.google.com/p/gobo-tools/wiki/HowToInstall) -->
	<servlet>
        <servlet-name>GoboServlet</servlet-name>
        <servlet-class>gobo.GoboServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GoboServlet</servlet-name>
        <url-pattern>*.gobo</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <url-pattern>*.gobo</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>admin</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>