/* All the template stuff */
html, body {
	margin: 0px 0px 0px 0px;
	color: #5C5C5C;
	font-family: sans-serif;
	height: 100%;
	font-size: 14px;
}

A:link {
	color: #5C5C5C;
	text-decoration:none;
}

A:visited {
	color: #5C5C5C;
	text-decoration:none;
}

A:active {
	color: #5C5C5C;
	text-decoration:none;
}

A:hover {
	color: #5C5C5C;
	text-decoration:none;
}

input[type=submit], input[type=button] {
  border: 1px solid black;
  background-color: white;
}

.hide {
	visibility: hidden;
	display: none;
}

.content {
	width: 1024px; 
	margin-left: auto; 
	margin-right: auto;
}

.headerFullScreenContainer {
	width: 100%; 
	height: 50px; 
	background-color: #E8E8E8; 
	margin: 0px;
	padding-top: 5px;
}

.headerFullScreenContainer .content .logo {
	height: 45px; 
	width: 45px;
	float: left;
}

.headerFullScreenContainer .content .title {
	margin-left: 15px;
	font-size: 40px;
	vertical-align: middle;
	color: #5794FF;
	float: left;
	
}

.headerFullScreenContainer .content .userArea {
	float: right;
	position:relative;
	width: 350px;
	height: 44px;
}

.menu .content {
	background-color: rgb(211, 211, 211);
}

.menu {
	height: 35px;
}

.bodyFooter{
    min-height: 100%;
    position:relative;
}

.body {
	width: 100%;
	padding-bottom: 50px; /* Max height of footer */
}

.body .content {
	padding: 5px;
}

.body .content .pageTitle {
	color: #5794FF;
	font-size: 22px;
	padding-bottom: 10px;
}

.body .content .messages {
	background-color: #8AB4FF;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
    border-radius: 5px;
    padding: 5px;
    position: relative;
    margin-bottom: 15px;
}

.body .content  .messages .messageIcon {
	float: left;
	height: 100%;
	top: 50%;
	position: absolute;
	margin-top: -8px;
}

.body .content  .messages .messageText {
	margin-left: 21px;
	color: white;
}

.body .content  .page {
	
}

.body .content .page .subTitle {
	color: #5794FF;
	font-size: 16px;
	padding-bottom: 10px;
	font-weight: bold;
}

footer {
    width:100%;
    position: absolute;
    left: 0;
    bottom: 0;
}

footer .content {
	margin: 0 auto; 
	text-align:center;
	padding: 5px;
}

footer .content .menu {
    font-size: 12px; 
}

footer .content .copyright {
    font-size: 10px; 
}

.formRow {
	display: table;
}

.formRow .formItem {
	float:left;margin-right:20px;
}

.formRow .formItem label {
	display: block;
	font-size: 14px;
	margin-left: 5px;
}

.formRow .formItem input {
	display: block;
}

/* All the custom (page specific stuff) */

.loginForgotPassword {
	font-size: 12px;
	margin-left: 5px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-style: italic;
}

.ui-dialog .ui-dialog-titlebar {
	padding: 2px 2px;
}

.ui-dialog .ui-dialog-content {
	padding: 0px;
}

.ui-dialog .ui-dialog-buttonpane {
	margin-top: 0px;
	padding: 0px;
}

.ui-dialog .ui-dialog-buttonpane button {
	margin: 1px;
}

.ui-dialog .ui-dialog-content {
	height: auto;
}

.toolTipClass {
	background: rgba(230, 230, 230, 0.67);
	margin: 30px;
	margin-top: 50px;
	padding: 10px;
	text-align: center;
	font-weight: bold;
}