<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright 2013 Dirk Vranckaert
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="eu.vranckaert.worktime"
      android:versionCode="288"
      android:versionName="1.1.16 - UNSTABLE">
    <permission android:name="eu.vranckaert.worktime.permission.MAPS_RECEIVE"
                android:protectionLevel="signature"/>
    <uses-permission android:name="eu.vranckaert.worktime.permission.MAPS_RECEIVE"/>

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="com.android.vending.BILLING" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <uses-feature android:glEsVersion="0x00020000" android:required="true"/>

    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="17"/>

    <application android:label="WorkTime" android:icon="@drawable/logo"
                 android:name=".guice.Application" android:backupAgent=".utils.context.BackupAgent">
        <!-- Backup service configuration -->
        <meta-data android:name="com.google.android.backup.api_key" android:value="AEdPqrEAAAAIKBOIRHAdZEXSXtzuiIu5cs97amRuguwj7UtnfA" />
        <!-- Maps configuration -->
        <meta-data android:name="com.google.android.maps.v2.API_KEY" android:value="AIzaSyCnf6OF1LzdnOFlup2sjGVRBLhDKh_DiP0"/>

        <!-- Widget configuration -->
        <receiver android:name=".providers.WorkTimeWidgetProvider_2x2_Project" android:label="@string/lbl_widget_2x2_name">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
					   android:resource="@xml/appwidget_2x2_project"/>
		</receiver>
        <receiver android:name=".broadcastreceiver.AlarmSyncInitBroadcastReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.ResetNotificationAreaBroadcastReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.MY_PACKAGE_REPLACED"/>
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.ActionDialogBroadCastReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="eu.vranckaert.worktime.time_registration_action_dialog" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.SplitBroadCastReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="eu.vranckaert.worktime.time_registration_action_split" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.DetailsBroadCastReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="eu.vranckaert.worktime.time_registration_details" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.EditStartTimeBroadCastReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="eu.vranckaert.worktime.time_registration_edit_start_time" />
            </intent-filter>
        </receiver>
        <receiver android:name=".broadcastreceiver.EditProjectAndTaskBroadCastReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="eu.vranckaert.worktime.time_registration_edit_project_and_task" />
            </intent-filter>
        </receiver>

        <receiver android:name=".providers.WorkTimeWidgetProvider_2x1_ProjectTask" android:label="@string/lbl_widget_2x1_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>
            <meta-data android:name="android.appwidget.provider"
                       android:resource="@xml/appwidget_2x1_project_task"/>
        </receiver>

        <activity android:name=".activities.timeregistrations.TimeRegistrationListActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Project specific activities -->
        <activity android:name=".activities.projects.ManageProjectsActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.projects.AddEditProjectActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.projects.ProjectDetailsActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.projects.CopyProjectActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.projects.SelectProjectActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- Task specific activities -->
        <activity android:name=".activities.tasks.AddEditTaskActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.tasks.SelectTaskActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- TimeRegistration specific activities -->
        <activity android:name=".activities.timeregistrations.TimeRegistrationDetailActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationActionActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationPunchInActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationPunchOutActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationDeleteActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationRestartActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationSetCommentActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationEditProjectAndTaskActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationEditStartTimeActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationEditEndTimeActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationSplitActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.timeregistrations.TimeRegistrationAddActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- Reporting -->
        <activity android:name=".activities.reporting.ReportingCriteriaActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.reporting.ReportingResultActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"
                  android:screenOrientation="landscape"/>
        <activity android:name=".activities.reporting.ReportingExportActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- About specific activities -->
        <activity android:name=".activities.about.AboutActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <!-- Preferences specific activities -->
        <activity android:name=".activities.preferences.PreferencesActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.preferences.BackupPreferencesActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.preferences.DateTimePreferencesActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.preferences.NotificationsPreferencesActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.preferences.ProjectsAndTasksPreferencesActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.preferences.TimeRegistrationsPreferencesActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.preferences.AccountSyncPreferencesActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.preferences.ResetApplicationPreferencesActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.preferences.ResetPreferencesActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.preferences.CleanupCorruptDataPreferencesActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!-- Account activities -->
        <activity android:name=".activities.account.AccountProfileActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.account.AccountSyncHistoryActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.account.AccountLoginActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.account.AccountRegisterActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <service android:name=".activities.account.AccountSyncService"
                 android:exported="false"/>
        <activity android:name=".utils.view.actionbar.synclock.SyncLockingActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.account.AccountResetPasswordRequestActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.account.AccountResetPasswordActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE"></category>
                <data android:scheme="https" android:host="worktime-web.appspot.com" android:pathPrefix="/resetPassword"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.account.AccountChangePasswordActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!-- Triggers -->
        <activity android:name=".activities.triggers.TriggersActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.triggers.TriggerGeoFencingMapActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.triggers.TriggerGeoFencingAddEditActivity"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <receiver android:name=".broadcastreceiver.TriggerGeofenceBroadcastReceiver" android:enabled="true" android:exported="false">
            <intent-filter>
                <action android:name="eu.vranckaert.worktime.geofenceTrigger" />
            </intent-filter>
        </receiver>

        <!-- Widget activities -->
        <!-- Configuration -->
        <activity android:name=".activities.widget.Configuration2x1Activity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_CONFIGURE"/>
            </intent-filter>
        </activity>

        <!-- Notification Bar activities -->
        <activity android:name=".activities.notifcationbar.StatusBarPunchOutHandleActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.notifcationbar.StatusBarPunchOutAndStartNextHandleActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.notifcationbar.StatusBarSplitActionHandleActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.notifcationbar.StatusBarTimeRegistrationDetailsHandleActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.notifcationbar.StatusBarEditStartingTimeHandleActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.notifcationbar.StatusBarEditProjectAndTaskTimeHandleActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.notifcationbar.StatusBarSetCommentHandleActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.notifcationbar.StatusBarDeleteHandleActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>
        <activity android:name=".activities.notifcationbar.StatusBarOthersActionHandleActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!-- Backup and Restore activities -->
        <activity android:name=".activities.backup.BackupRestoreInfoActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT"/>
                <action android:name="eu.vranckaert.worktime.BACKUP_DOC"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.backup.BackupToSDActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="eu.vranckaert.worktime.SD_BACKUP_DATA"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.backup.RestoreFromSDActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="eu.vranckaert.worktime.SD_RESTORE_DATA"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.backup.BackupSendFromSDActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden|screenSize">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="eu.vranckaert.worktime.SD_BACKUP_SEND"/>
            </intent-filter>
        </activity>

        <!-- DirectoryPicker activity -->
        <activity android:name="eu.vranckaert.worktime.utils.file.DirectoryPicker"
                  android:theme="@style/Theme.Worktime"
                  android:configChanges="orientation|keyboardHidden|screenSize"/>

        <!-- Donation -->
        <activity
                android:name="eu.vranckaert.worktime.utils.donations.DonationsActivity"
                android:excludeFromRecents="true"
                android:launchMode="singleTask"
                android:theme="@android:style/Theme.Dialog" />

        <!-- - Google Play Store donations -->
        <service android:name="eu.vranckaert.worktime.utils.donations.google.BillingService" />

        <receiver android:name="eu.vranckaert.worktime.utils.donations.google.BillingReceiver" >
            <intent-filter>
                <action android:name="com.android.vending.billing.IN_APP_NOTIFY" />
                <action android:name="com.android.vending.billing.RESPONSE_CODE" />
                <action android:name="com.android.vending.billing.PURCHASE_STATE_CHANGED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
