<?xml version="1.0" encoding="utf-8"?>

<!--
  ~ Copyright 2012 Dirk Vranckaert
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="eu.vranckaert.worktime"
      android:versionCode="161"
      android:versionName="1.1.4 - UNSTABLE">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="14"/>

    <application android:label="WorkTime" android:icon="@drawable/logo" android:name=".guice.Application" android:debuggable="true">
        <!-- Widget configuration -->
        <receiver android:name=".providers.WorkTimeWidgetProvider" android:process=":otherPrivateProcess">
			<intent-filter>
				<action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
			</intent-filter>
			<meta-data android:name="android.appwidget.provider"
					   android:resource="@xml/appwidget_info"/>
		</receiver>

        <activity android:name=".activities.HomeActivity"
                  android:label="@string/app_name"
                  android:theme="@style/Theme.Light.NoTitleBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Project specific activities -->
        <activity android:name=".activities.projects.ManageProjectsActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.projects.AddEditProjectActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.projects.ProjectDetailsActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.projects.CopyProjectActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <!-- TimeRegistration specific activities -->
        <activity android:name=".activities.timeregistrations.TimeRegistrationsActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.RegistrationDetailsActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.AddEditTimeRegistrationsComment"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.EditTimeRegistrationProjectAndTask"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.EditTimeRegistrationStartTimeActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.EditTimeRegistrationEndTimeActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.EditTimeRegistrationRestart"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.timeregistrations.EditTimeRegistrationSplitActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <!-- Task specific activities -->
        <activity android:name=".activities.tasks.AddEditTaskActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <!-- About specific activities -->
        <activity android:name=".activities.about.AboutActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>

        <!-- Widget activities -->
        <!-- Start -->
        <activity android:name=".activities.widget.StartTimeRegistrationActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <!-- Stop -->
        <activity android:name=".activities.widget.StopTimeRegistrationActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>
        <!-- Select project -->
        <activity android:name=".activities.widget.SelectProjectActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>

        <!-- Notification Bar activities -->
        <activity android:name=".activities.notifcationbar.EndTimeRegistration"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden"/>

        <!-- Backup and Restore activities -->
        <activity android:name=".activities.backup.BackupActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="eu.vranckaert.worktime.BACKUP_DATA"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.backup.RestoreActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="eu.vranckaert.worktime.RESTORE_DATA"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.backup.BackupRestoreInfoActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="eu.vranckaert.worktime.BACKUP_RESTORE_DATA_INFO"/>
            </intent-filter>
        </activity>
        <activity android:name=".activities.backup.BackupSendActivity"
                  android:theme="@style/Theme.Translucent"
                  android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="eu.vranckaert.worktime.BACKUP_SEND"/>
            </intent-filter>
        </activity>

        <!-- Reporting -->
        <activity android:name=".activities.reporting.ReportingCriteriaActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.reporting.ReportingResultActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"
                  android:screenOrientation="landscape"/>
        <activity android:name=".activities.reporting.ReportingExportActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>

        <!-- Preferences specific activities -->
        <activity android:name=".activities.preferences.PreferencesActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.PreferencesICSActivity"
                  android:theme="@android:style/Theme.Holo.Light"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.BackupPreferencesActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.DateTimePreferencesActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.NotificationsPreferencesActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.ProjectsAndTasksPreferencesActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.TimeRegistrationsPreferencesActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
        <activity android:name=".activities.preferences.WidgetPreferencesActivity"
                  android:theme="@style/Theme.Light.NoTitleBar"
                  android:configChanges="orientation|keyboardHidden"/>
    </application>
</manifest>
